/oh_modules
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.bitfun
local.properties

# Compiled binaries (build with mihomo-bridge/build.sh)
mihomo-bridge/libmihomo.so
mihomo-bridge/libmihomo_patched.so
mihomo-bridge/libmihomo.h
mihomo-bridge/mihomo
clash/src/main/cpp/libs/
clash/src/main/cpp/libmihomo.h
clash/src/main/libs/
clash/src/main/resources/rawfile/mihomo

# Go cache
mihomo-bridge/go.sum
